* {
    font-family: 'Poppins', sans-serif;
}

body {
    --beige: #faeee7;
    --rosa-fuerte: #ff8ba7;
    --rosa: #ffc6c7;
    --negro: #33272a;
    --gris: #594a4e;
    --blanco: #fffffe;
    --verde: #c3f0ca;
    background-color: var(--beige);
    color: var(--negro);
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1000' preserveAspectRatio='none' viewBox='0 0 1920 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1127%26quot%3b)' fill='none'%3e%3crect width='1920' height='1000' x='0' y='0' fill='rgba(250%2c 238%2c 231%2c 1)'%3e%3c/rect%3e%3cpath d='M1952 1000L0 1000 L0 826.1Q52.29 782.39%2c 96 834.69Q190.83 769.52%2c 256 864.34Q328.32 776.66%2c 416 848.98Q489.13 762.12%2c 576 835.25Q611.85 775.1%2c 672 810.94Q776.96 755.9%2c 832 860.86Q898.25 767.11%2c 992 833.36Q1064.7 746.07%2c 1152 818.77Q1223.67 730.44%2c 1312 802.12Q1405.57 735.69%2c 1472 829.27Q1565.04 762.31%2c 1632 855.34Q1706.09 769.43%2c 1792 843.53Q1856.47 748%2c 1952 812.48z' fill='rgba(255%2c 139%2c 167%2c 1)'%3e%3c/path%3e%3cpath d='M1952 1000L0 1000 L0 863.76Q93.97 797.73%2c 160 891.7Q218.25 853.95%2c 256 912.2Q273.75 833.95%2c 352 851.7Q408.65 812.36%2c 448 869.01Q535.3 796.31%2c 608 883.61Q696.18 811.79%2c 768 899.97Q800.41 836.38%2c 864 868.8Q952.76 797.56%2c 1024 886.32Q1085.91 852.24%2c 1120 914.15Q1174.89 809.05%2c 1280 863.94Q1367.41 791.35%2c 1440 878.76Q1536.53 815.29%2c 1600 911.82Q1620.77 836.59%2c 1696 857.35Q1753.18 818.54%2c 1792 875.72Q1883.08 806.8%2c 1952 897.88z' fill='rgba(255%2c 198%2c 199%2c 1)'%3e%3c/path%3e%3cpath d='M1984 1000L0 1000 L0 940.99Q82.25 863.25%2c 160 945.5Q246.07 871.57%2c 320 957.64Q348.93 890.57%2c 416 919.5Q489.09 896.59%2c 512 969.68Q557.53 855.21%2c 672 900.74Q774.4 843.14%2c 832 945.54Q867.75 885.28%2c 928 921.03Q993.32 890.35%2c 1024 955.66Q1077.69 849.35%2c 1184 903.03Q1274.22 833.25%2c 1344 923.48Q1415.15 898.63%2c 1440 969.79Q1478.07 911.86%2c 1536 949.92Q1569.14 887.06%2c 1632 920.2Q1688.86 881.06%2c 1728 937.92Q1791.73 841.65%2c 1888 905.38Q1945.84 867.21%2c 1984 925.05z' fill='rgba(217%2c 55%2c 110%2c 1)'%3e%3c/path%3e%3cpath d='M2016 1000L0 1000 L0 1011.6Q25.34 940.94%2c 96 966.29Q191.96 902.25%2c 256 998.21Q313.27 959.49%2c 352 1016.76Q416.64 921.4%2c 512 986.05Q566.25 944.3%2c 608 998.56Q633 927.56%2c 704 952.56Q797.21 885.76%2c 864 978.97Q930.61 949.58%2c 960 1016.18Q1032.5 928.68%2c 1120 1001.18Q1193.23 914.41%2c 1280 987.64Q1347.97 895.62%2c 1440 963.59Q1539.61 903.2%2c 1600 1002.81Q1636.48 943.29%2c 1696 979.77Q1763.43 887.2%2c 1856 954.63Q1957.08 895.7%2c 2016 996.78z' fill='rgba(254%2c 199%2c 215%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1127'%3e%3crect width='1920' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-repeat: no-repeat;
}

.div-1 {
    width: 240px;
    height: auto;
    background-color: var(--blanco);
    border: none;
    float: left;
    margin-left: 35%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 100px 5px #ffc6c7;
}

.div-2 {
    border: 2px solid var(--rosa-fuerte);
    border-radius: 5px;
    float: right;
    padding: 13px 15px;
    width: 250px;
    height: auto;
    background-color: var(--rosa);
    margin-right: 35%;
}

h2 {
    font-size: 27.5px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 5px 0;
}

h2 span {
    border-bottom: 2px solid var(--beige);
}

.boton {
    margin: 10px;
    background-color: var(--rosa);
    border: none;
    width: 100px;
    height: 35px;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s ease-in-out;
}

.boton:hover {
    color: var(--blanco);
    background-color: var(--rosa-fuerte);
}

.tareas {
    height: 25px;
    width: 210px;
    margin: 10px;
    padding-left: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: var(--rosa);
    color: var(--negro);
    font-weight: 600;
    font-size: 15px
}

.tareas:focus {
    border-color: var(--rosa-fuerte);
    outline: none;
}

.tareas:focus::placeholder {
    color: var(--gris);
}

.swal2-modal {
    background-color: var(--blanco);
    width: 350px;
}

.swal2-confirm.swal2-styled {
    background-color: var(--verde);
    color: var(--negro);
    font-weight: 700;
    border: none;
}

.swal2-modal .swal2-styled:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.lista {
    margin: 0;
}

.botonEliminar {
    background-color: var(--rosa-fuerte);
    border: none;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
    padding: 3px 5px;
    font-weight: 700;
    margin-left: 5px;
    float: right;
}

.bi-trash3-fill {
    color: var(--negro);
    font-size: 15px;
}

li {
    padding: 5px;
    font-size: 18px
}

/* Mobile */

@media (max-width: 767px) {
    body {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='400' height='750' preserveAspectRatio='none' viewBox='0 0 400 750'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1167%26quot%3b)' fill='none'%3e%3crect width='400' height='750' x='0' y='0' fill='rgba(250%2c 238%2c 231%2c 1)'%3e%3c/rect%3e%3cpath d='M413.3333333333333 750L0 750 L0 623.5Q12.34 615.84%2c 20 628.18Q29.1 603.94%2c 53.333333333333336 613.04Q64.26 590.63%2c 86.66666666666667 601.56Q102.95 584.51%2c 120 600.79Q148.06 595.51%2c 153.33333333333334 623.57Q170.84 621.08%2c 173.33333333333334 638.58Q168.88 614.13%2c 193.33333333333334 609.67Q223.87 620.21%2c 213.33333333333334 650.75Q208.91 626.33%2c 233.33333333333334 621.91Q243.66 598.9%2c 266.6666666666667 609.22Q291.96 601.18%2c 300 626.48Q319.63 626.11%2c 320 645.74Q329.52 635.26%2c 340 644.79Q340.45 625.24%2c 360 625.69Q365.08 597.44%2c 393.3333333333333 602.52Q405.8 594.99%2c 413.3333333333333 607.45z' fill='rgba(255%2c 139%2c 167%2c 1)'%3e%3c/path%3e%3cpath d='M426.66666666666663 750L0 750 L0 658.89Q5.23 644.12%2c 20 649.35Q40.75 636.76%2c 53.333333333333336 657.51Q71.85 656.02%2c 73.33333333333334 674.54Q90.36 671.57%2c 93.33333333333334 688.6Q93.87 655.8%2c 126.66666666666669 656.33Q131.32 640.98%2c 146.66666666666669 645.63Q163.92 642.88%2c 166.66666666666669 660.13Q195.29 655.42%2c 200.00000000000003 684.05Q210.26 660.97%2c 233.33333333333337 671.23Q230.85 648.75%2c 253.33333333333337 646.27Q281.77 654.71%2c 273.33333333333337 683.15Q271.41 661.22%2c 293.33333333333337 659.3Q300.58 633.21%2c 326.6666666666667 640.45Q344.69 625.14%2c 360 643.16Q393.91 643.73%2c 393.3333333333333 677.64Q412.47 663.44%2c 426.66666666666663 682.58z' fill='rgba(255%2c 198%2c 199%2c 1)'%3e%3c/path%3e%3cpath d='M420 750L0 750 L0 723.94Q3.99 707.93%2c 20 711.93Q22.89 694.82%2c 40 697.71Q42.09 679.8%2c 60 681.89Q96.02 684.57%2c 93.33333333333334 720.59Q92.65 699.9%2c 113.33333333333334 699.22Q118.05 683.93%2c 133.33333333333334 688.65Q143.68 665.66%2c 166.66666666666669 676.01Q190.25 666.26%2c 200.00000000000003 689.85Q231.23 687.75%2c 233.33333333333337 718.98Q241.61 693.92%2c 266.6666666666667 702.2Q271.53 687.06%2c 286.6666666666667 691.92Q289.64 674.89%2c 306.6666666666667 677.87Q325.33 663.2%2c 340 681.87Q362.39 684.26%2c 360 706.66Q375.16 701.82%2c 380 716.97Q395 711.98%2c 400 726.98Q401.65 708.63%2c 420 710.28z' fill='rgba(217%2c 55%2c 110%2c 1)'%3e%3c/path%3e%3cpath d='M426.66666666666663 750L0 750 L0 722.91Q36.57 726.14%2c 33.333333333333336 762.71Q25.06 721.1%2c 66.66666666666667 712.82Q89.71 702.53%2c 100 725.57Q126.01 718.24%2c 133.33333333333334 744.25Q134.17 711.76%2c 166.66666666666669 712.6Q202.24 714.84%2c 200.00000000000003 750.41Q222.24 739.31%2c 233.33333333333337 761.55Q221.48 729.7%2c 253.33333333333337 717.85Q290.74 721.92%2c 286.6666666666667 759.33Q284.67 724%2c 320 722.01Q336.72 718.73%2c 340 735.45Q366.85 728.97%2c 373.3333333333333 755.82Q368.52 731.01%2c 393.3333333333333 726.19Q404.24 703.77%2c 426.66666666666663 714.68z' fill='rgba(254%2c 199%2c 215%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1167'%3e%3crect width='400' height='750' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
        justify-content: center;
        align-items: center;
        display: grid;

    }

    .div-1 {
        margin-left: 8px;
        width: 280px;
    }

    .div-2 {
        margin: 0;
        margin-top: 10px;
        width: 280px;
    }

    h2 {
        font-size: 30px;
        margin: 3px 0;
    }

    .boton {
        font-size: 18px;
        width: 150px;
        height: 50px;
    }

    .tareas {
        height: 30px;
        width: 240px;
        font-size: 18px;
    }

    .botonEliminar {
        width: 30px;
        height: 30px;
    }

    .bi-trash3-fill {
        font-size: 15px;
    }

    li {
        padding: 5px;
        font-size: 19px;
    }
}

/* Portatil */

@media (min-width: 992px) and (max-width: 1280px) {

@media (min-width: 992px) and (max-width: 1199px) {


    body {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1024' height='710' preserveAspectRatio='none' viewBox='0 0 1024 710'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1186%26quot%3b)' fill='none'%3e%3crect width='1024' height='710' x='0' y='0' fill='rgba(250%2c 238%2c 231%2c 1)'%3e%3c/rect%3e%3cpath d='M1058.1333333333337 710L0 710 L0 607.52Q37.44 559.62%2c 85.33333333333333 597.06Q98.34 558.87%2c 136.53333333333333 571.88Q197.8 547.81%2c 221.86666666666667 609.07Q240.79 576.79%2c 273.06666666666666 595.71Q305.46 542.77%2c 358.4 575.16Q402.19 567.75%2c 409.59999999999997 611.54Q427.27 578.01%2c 460.79999999999995 595.68Q494.21 543.75%2c 546.1333333333333 577.16Q607.93 553.63%2c 631.4666666666667 615.43Q664.69 563.32%2c 716.8000000000001 596.55Q751.8 546.22%2c 802.1333333333334 581.22Q840.48 568.37%2c 853.3333333333335 606.71Q872.12 574.29%2c 904.5333333333335 593.08Q917.62 554.97%2c 955.7333333333336 568.06Q988.26 549.39%2c 1006.9333333333336 581.92Q1044.57 568.35%2c 1058.1333333333337 605.99z' fill='rgba(255%2c 139%2c 167%2c 1)'%3e%3c/path%3e%3cpath d='M1092.2666666666669 710L0 710 L0 627.58Q35.54 577.78%2c 85.33333333333333 613.32Q126 602.78%2c 136.53333333333333 643.45Q153.12 608.83%2c 187.73333333333335 625.42Q223.09 575.44%2c 273.06666666666666 610.79Q315.62 602.14%2c 324.26666666666665 644.69Q357.34 592.43%2c 409.59999999999997 625.51Q445.94 576.52%2c 494.9333333333333 612.86Q535.83 602.56%2c 546.1333333333333 643.46Q563.4 609.52%2c 597.3333333333334 626.79Q633.34 577.46%2c 682.6666666666667 613.47Q720.96 600.56%2c 733.8666666666668 638.86Q782.25 601.91%2c 819.2000000000002 650.29Q846.01 591.76%2c 904.5333333333335 618.57Q924.48 587.32%2c 955.7333333333336 607.27Q997.58 597.92%2c 1006.9333333333336 639.77Q1042.55 590.05%2c 1092.2666666666669 625.66z' fill='rgba(255%2c 198%2c 199%2c 1)'%3e%3c/path%3e%3cpath d='M1041.0666666666668 710L0 710 L0 681.3Q24.09 620.05%2c 85.33333333333333 644.14Q117.28 624.88%2c 136.53333333333333 656.83Q175.29 644.39%2c 187.73333333333335 683.15Q206.49 650.71%2c 238.93333333333334 669.46Q274.48 619.67%2c 324.26666666666665 655.22Q383.41 629.03%2c 409.59999999999997 688.17Q429.78 623.02%2c 494.9333333333333 643.2Q525.99 623.05%2c 546.1333333333333 654.11Q579.59 636.37%2c 597.3333333333334 669.82Q649.2 636.35%2c 682.6666666666667 688.21Q705.85 626.06%2c 768.0000000000001 649.25Q803.14 633.19%2c 819.2000000000002 668.33Q871.82 635.62%2c 904.5333333333335 688.24Q911.06 643.56%2c 955.7333333333336 650.09Q993.18 602.2%2c 1041.0666666666668 639.64z' fill='rgba(217%2c 55%2c 110%2c 1)'%3e%3c/path%3e%3cpath d='M1092.2666666666669 710L0 710 L0 706.57Q28.45 683.82%2c 51.2 712.27Q79.77 655.5%2c 136.53333333333333 684.07Q186.81 649.02%2c 221.86666666666667 699.3Q272.09 664.19%2c 307.2 714.42Q336.09 657.97%2c 392.5333333333333 686.86Q426.15 669.27%2c 443.7333333333333 702.89Q492.15 665.98%2c 529.0666666666666 714.4Q535.77 669.9%2c 580.2666666666667 676.61Q630.8 641.81%2c 665.6 692.35Q716.58 658%2c 750.9333333333334 708.98Q778.06 650.77%2c 836.2666666666668 677.9Q899.7 656%2c 921.6000000000001 719.44Q955.45 667.95%2c 1006.9333333333335 701.8Q1042.84 652.37%2c 1092.2666666666669 688.27z' fill='rgba(254%2c 199%2c 215%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1186'%3e%3crect width='1024' height='710' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .div-1 {

        margin-left: 26%;

        margin-left: 23%;

        float: left;
    }

    .div-2 {

        margin-right: 23%;

        margin-right: 20%;

        float: right;
    }
}

@media (min-width: 1440px) and (max-width: 1680px) {
    body {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='710' preserveAspectRatio='none' viewBox='0 0 1440 710'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1190%26quot%3b)' fill='none'%3e%3crect width='1440' height='710' x='0' y='0' fill='rgba(250%2c 238%2c 231%2c 1)'%3e%3c/rect%3e%3cpath d='M1560 710L0 710 L0 591.33Q66.88 538.21%2c 120 605.08Q163.6 528.68%2c 240 572.29Q311.14 523.43%2c 360 594.58Q406.85 569.43%2c 432 616.29Q449.82 562.11%2c 504 579.93Q570.43 526.36%2c 624 592.78Q693.15 541.93%2c 744 611.09Q785.5 532.59%2c 864 574.08Q906.64 544.73%2c 936 587.37Q985.04 564.41%2c 1008 613.46Q1047.08 532.54%2c 1128 571.61Q1201.01 524.62%2c 1248 597.63Q1300.04 529.67%2c 1368 581.71Q1419.03 560.74%2c 1440 611.76Q1492.63 544.38%2c 1560 597.01z' fill='rgba(255%2c 139%2c 167%2c 1)'%3e%3c/path%3e%3cpath d='M1488 710L0 710 L0 643.29Q43.97 567.25%2c 120 611.22Q161.15 580.38%2c 192 621.53Q260.49 570.01%2c 312 638.5Q379.13 585.63%2c 432 652.77Q447.24 596.01%2c 504 611.25Q571.92 559.17%2c 624 627.09Q694.66 577.75%2c 744 648.42Q757.98 590.39%2c 816 604.37Q858.02 574.39%2c 888 616.41Q931.26 587.67%2c 960 630.94Q1006.12 605.06%2c 1032 651.17Q1069.13 568.3%2c 1152 605.43Q1201.29 582.72%2c 1224 632.01Q1254.79 590.8%2c 1296 621.59Q1325.57 579.15%2c 1368 608.72Q1441.74 562.46%2c 1488 636.2z' fill='rgba(255%2c 198%2c 199%2c 1)'%3e%3c/path%3e%3cpath d='M1512 710L0 710 L0 639.16Q60.14 579.3%2c 120 639.44Q202.26 601.7%2c 240 683.96Q265.57 637.53%2c 312 663.1Q340.63 619.74%2c 384 648.37Q460.36 604.73%2c 504 681.08Q531.35 636.43%2c 576 663.78Q623.84 591.62%2c 696 639.45Q777.3 600.75%2c 816 682.05Q842.46 636.51%2c 888 662.97Q941.62 596.59%2c 1008 650.2Q1061.89 632.1%2c 1080 685.99Q1127.18 613.17%2c 1200 660.36Q1265.71 606.07%2c 1320 671.78Q1361.47 641.25%2c 1392 682.72Q1430.62 601.34%2c 1512 639.95z' fill='rgba(217%2c 55%2c 110%2c 1)'%3e%3c/path%3e%3cpath d='M1536 710L0 710 L0 693.75Q43.97 665.72%2c 72 709.69Q116.38 634.07%2c 192 678.44Q250.04 664.48%2c 264 722.52Q291.86 678.38%2c 336 706.24Q363.2 661.44%2c 408 688.64Q461.11 621.75%2c 528 674.86Q581.05 655.91%2c 600 708.96Q653.07 642.03%2c 720 695.09Q794.27 649.37%2c 840 723.64Q880.05 643.69%2c 960 683.74Q1002.37 654.11%2c 1032 696.47Q1076.16 668.63%2c 1104 712.8Q1146.25 635.05%2c 1224 677.3Q1289.38 622.67%2c 1344 688.05Q1390.33 662.38%2c 1416 708.71Q1459.88 632.59%2c 1536 676.46z' fill='rgba(254%2c 199%2c 215%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1190'%3e%3crect width='1440' height='710' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .div-1 {
        margin-left: 30%;
        float: left;
    }

    .div-2 {
        margin-right: 33%;
        float: right;
        padding: 15px 15px;
    }
}